/* Header Component  */
#div1{
text-align: center;
background-color: lightblue;
font-size: 26px;
color:blue;
padding:15px;
border-bottom-right-radius: 35px;
border-bottom-left-radius: 35px;

}

#div2{
    background-color:yellow;
    text-align: center;
    text-decoration: none;
}


.links{
    display: inline-block;
    margin-right: 100px;
    
}


/* Content Component */
.display{
    display: none;
}

.selectWidth{
    width: 30%;
    min-width: 200px;
    margin: auto;
}


.headings{
    /* text-align: center; */
    /* border: 1px dotted black; */
    border-radius: 12px;
    font-size: 20px;
    /* width: 40%; */
    /* margin-left: auto;
    margin-right: auto; */
    /* background-color: darkgray; */
    color:blue;

}



.bottomLine{
    /* text-align: center; */
background-color:lemonchiffon;
font-size: 10px;
color:blue;
padding:10px;
border-top-right-radius: 35px;
border-top-left-radius: 35px;
}





tr:hover{
    background-color:lightgrey;
    
    
}



.material-icons{
    color:grey
}

tr td{
    padding: 1px !important;
    padding-left: 5px !important;
    border: 1px solid lightgray !important;
    
}

th{
    border: 1px solid lightgray !important;
    padding: 1px !important;
    
}

input:focus{
    background-color: yellow !important;
}

input{
    height: 23px !important;
    width: 46% !important;
}

#item_input{
    height: 23px;
    width: 30% !important;
}

#qty_input{
    height: 23px;
    width: 20% !important;
}

#rate_input{
    height: 23px;
    width: 20% !important;
}

#repNo{
    width: 20% !important;
}

.listedInput{
    width: 60px !important;
    
}


.navLinks_loginPage{
    display: inline-block;
    margin-right: 50px;
    color:blue;
}

.navLinks_loginPage:hover{
    color:red;
    cursor:pointer;
}

button{
    cursor: pointer;
}

#billNumber{
    width: 10% !important;
}


#tableView{
    width:75%;
    color:gray;
    font-size:12px;
}



#billTopHeading{
    /* background-color: gray; */
    margin: 0%;
    text-align: center;
    color: brown;  
}


#billHeader{
    background-color:lightgray;
    width:100%;
    padding:7px;
    margin: 0%;
}
.billSpan{
    display: inline-block;
    /* border: 1px solid black; */
    
    
}

#billToSpan{
width:35%;
}

#billSpan{
    width:30%;
    text-align: right;
}

#billNumbSpan{
    width:25%;
}

#itemSpan{
    width: 40%;
}

#qtySpan{
    width: 15%;
}
#rateSpan{
    width: 15%;
}
#totalAmountSpan{
    width: 20%;
}